@charset "UTF-8";
:root {
  --c-main-font: -apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  --c-slide-font-scale: 0.055;
  --c-main-line-height: 1.3;
  --c-block-margin: 20px;
  --c-heading-margin: 0 0 20px 0;
  --c-heading-font: -apple-system, Noto Sans, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, PingFang SC, Hiragino Sans GB, Noto Sans CJK SC, Source Han Sans SC, Source Han Sans CN, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
  --c-heading-line-height: 1.2;
  --c-heading-letter-spacing: normal;
  --c-heading-text-transform: uppercase;
  --c-heading-text-shadow: none;
  --c-heading-font-weight: bold;
  --c-heading-1-text-shadow: -2px 2px 4px var(--c-shadow-color-9);
  --c-heading-1-size: 2em;
  --c-heading-2-size: 1.5em;
  --c-heading-3-size: 1.17em;
  --c-heading-4-size: 1em;
  --c-code-font: Cutive mono, Courier New, monospace;
  --c-code-font-size: 0.6em;
}

.noaccent {
  color: var(--c-main-color);
}

.accent, .accent1 {
  color: var(--c-accent-color);
}

.accent2 {
  color: var(--c-accent2-color);
}

.accent3 {
  color: var(--c-accent3-color);
}

.accent4 {
  color: var(--c-accent4-color);
}

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */
.primary {
  color: var(--c-primary-color);
}

.success {
  color: var(--c-success-color);
}

.warning {
  color: var(--c-warning-color);
}

.error {
  color: var(--c-error-color);
}

.dark {
  color: var(--c-dark-color);
}

.light {
  color: var(--c-light-color);
}

.navy {
  color: var(--c-navy-color);
}

.green {
  color: var(--c-green-color);
}

.teal {
  color: var(--c-teal-color);
}

.blue {
  color: var(--c-blue-color);
}

.purple {
  color: var(--c-purple-color);
}

.pink {
  color: var(--c-pink-color);
}

.red {
  color: var(--c-red-color);
}

.orange {
  color: var(--c-orange-color);
}

.yellow {
  color: var(--c-yellow-color);
}

.gray {
  color: var(--c-gray-color);
}

.light-gray {
  color: var(--c-light-gray-color);
}

/* tachyons.css only has 2/2.25rem 3/1.5rem, so add the middle one */
.f2-5 {
  font-size: 1.8rem;
}

body.impress-enabled,
.reveal-viewport {
  background-color: var(--c-bg-color);
}

#impress,
.reveal {
  --c-slide-font-size: calc(var(--c-slide-font-scale, 0.05) * var(--slide-height, 1080px));
  font-family: var(--c-main-font);
  font-size: var(--c-slide-font-size);
  font-weight: normal;
  color: var(--c-main-color);
  line-height: var(--c-main-line-height);
  /* 块/段落引用 */
  /* Inline code, no Highlight.js */
  /* highlight.js uses table to show line number */
  /* more text, smaller font size */
  /* mermaid related */
  /* style for main classes in mermaid classDiagram */
  /* SVG styles */
  /* Ensure certain elements are never larger than the slide itself */
  /* if a svg not have any of bg-* class, add a semi-transparent background to it */
}
#impress .tl,
.reveal .tl {
  text-align: left;
}
#impress .tr,
.reveal .tr {
  text-align: right;
}
#impress .tc,
.reveal .tc {
  text-align: center;
}
#impress .tj,
.reveal .tj {
  text-align: justify;
}
#impress .f-6, #impress .f-headline,
.reveal .f-6,
.reveal .f-headline {
  font-size: 6rem;
}
#impress .f-5, #impress .f-subheadline,
.reveal .f-5,
.reveal .f-subheadline {
  font-size: 5rem;
}
#impress .f1,
.reveal .f1 {
  font-size: 3rem;
}
#impress .f2,
.reveal .f2 {
  font-size: 2.25rem;
}
#impress .f3,
.reveal .f3 {
  font-size: 1.5rem;
}
#impress .f4,
.reveal .f4 {
  font-size: 1.25rem;
}
#impress .f5,
.reveal .f5 {
  font-size: 1rem;
}
#impress .f6,
.reveal .f6 {
  font-size: 0.875rem;
}
#impress .f7,
.reveal .f7 {
  font-size: 0.75rem;
}
#impress .lh-solid,
.reveal .lh-solid {
  line-height: 1;
}
#impress .lh-title,
.reveal .lh-title {
  line-height: 1.25;
}
#impress .lh-copy,
.reveal .lh-copy {
  line-height: 1.5;
}
#impress .normal,
.reveal .normal {
  font-weight: normal;
}
#impress .b,
.reveal .b {
  font-weight: bold;
}
#impress .fw1,
.reveal .fw1 {
  font-weight: 100;
}
#impress .fw2,
.reveal .fw2 {
  font-weight: 200;
}
#impress .fw3,
.reveal .fw3 {
  font-weight: 300;
}
#impress .fw4,
.reveal .fw4 {
  font-weight: 400;
}
#impress .fw5,
.reveal .fw5 {
  font-weight: 500;
}
#impress .fw6,
.reveal .fw6 {
  font-weight: 600;
}
#impress .fw7,
.reveal .fw7 {
  font-weight: 700;
}
#impress .fw8,
.reveal .fw8 {
  font-weight: 800;
}
#impress .fw9,
.reveal .fw9 {
  font-weight: 900;
}
#impress .pa0,
.reveal .pa0 {
  padding: 0;
}
#impress .pa1,
.reveal .pa1 {
  padding: 0.25rem;
}
#impress .pa2,
.reveal .pa2 {
  padding: 0.5rem;
}
#impress .pa3,
.reveal .pa3 {
  padding: 1rem;
}
#impress .pa4,
.reveal .pa4 {
  padding: 2rem;
}
#impress .pa5,
.reveal .pa5 {
  padding: 4rem;
}
#impress .pa6,
.reveal .pa6 {
  padding: 8rem;
}
#impress .pa7,
.reveal .pa7 {
  padding: 16rem;
}
#impress .pl0,
.reveal .pl0 {
  padding-left: 0;
}
#impress .pl1,
.reveal .pl1 {
  padding-left: 0.25rem;
}
#impress .pl2,
.reveal .pl2 {
  padding-left: 0.5rem;
}
#impress .pl3,
.reveal .pl3 {
  padding-left: 1rem;
}
#impress .pl4,
.reveal .pl4 {
  padding-left: 2rem;
}
#impress .pl5,
.reveal .pl5 {
  padding-left: 4rem;
}
#impress .pl6,
.reveal .pl6 {
  padding-left: 8rem;
}
#impress .pl7,
.reveal .pl7 {
  padding-left: 16rem;
}
#impress .pr0,
.reveal .pr0 {
  padding-right: 0;
}
#impress .pr1,
.reveal .pr1 {
  padding-right: 0.25rem;
}
#impress .pr2,
.reveal .pr2 {
  padding-right: 0.5rem;
}
#impress .pr3,
.reveal .pr3 {
  padding-right: 1rem;
}
#impress .pr4,
.reveal .pr4 {
  padding-right: 2rem;
}
#impress .pr5,
.reveal .pr5 {
  padding-right: 4rem;
}
#impress .pr6,
.reveal .pr6 {
  padding-right: 8rem;
}
#impress .pr7,
.reveal .pr7 {
  padding-right: 16rem;
}
#impress .pb0,
.reveal .pb0 {
  padding-bottom: 0;
}
#impress .pb1,
.reveal .pb1 {
  padding-bottom: 0.25rem;
}
#impress .pb2,
.reveal .pb2 {
  padding-bottom: 0.5rem;
}
#impress .pb3,
.reveal .pb3 {
  padding-bottom: 1rem;
}
#impress .pb4,
.reveal .pb4 {
  padding-bottom: 2rem;
}
#impress .pb5,
.reveal .pb5 {
  padding-bottom: 4rem;
}
#impress .pb6,
.reveal .pb6 {
  padding-bottom: 8rem;
}
#impress .pb7,
.reveal .pb7 {
  padding-bottom: 16rem;
}
#impress .pt0,
.reveal .pt0 {
  padding-top: 0;
}
#impress .pt1,
.reveal .pt1 {
  padding-top: 0.25rem;
}
#impress .pt2,
.reveal .pt2 {
  padding-top: 0.5rem;
}
#impress .pt3,
.reveal .pt3 {
  padding-top: 1rem;
}
#impress .pt4,
.reveal .pt4 {
  padding-top: 2rem;
}
#impress .pt5,
.reveal .pt5 {
  padding-top: 4rem;
}
#impress .pt6,
.reveal .pt6 {
  padding-top: 8rem;
}
#impress .pt7,
.reveal .pt7 {
  padding-top: 16rem;
}
#impress .pv0,
.reveal .pv0 {
  padding-top: 0;
  padding-bottom: 0;
}
#impress .pv1,
.reveal .pv1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
#impress .pv2,
.reveal .pv2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#impress .pv3,
.reveal .pv3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#impress .pv4,
.reveal .pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#impress .pv5,
.reveal .pv5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#impress .pv6,
.reveal .pv6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
#impress .pv7,
.reveal .pv7 {
  padding-top: 16rem;
  padding-bottom: 16rem;
}
#impress .ph0,
.reveal .ph0 {
  padding-left: 0;
  padding-right: 0;
}
#impress .ph1,
.reveal .ph1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
#impress .ph2,
.reveal .ph2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#impress .ph3,
.reveal .ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
#impress .ph4,
.reveal .ph4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
#impress .ph5,
.reveal .ph5 {
  padding-left: 4rem;
  padding-right: 4rem;
}
#impress .ph6,
.reveal .ph6 {
  padding-left: 8rem;
  padding-right: 8rem;
}
#impress .ph7,
.reveal .ph7 {
  padding-left: 16rem;
  padding-right: 16rem;
}
#impress .ma0,
.reveal .ma0 {
  margin: 0;
}
#impress .ma1,
.reveal .ma1 {
  margin: 0.25rem;
}
#impress .ma2,
.reveal .ma2 {
  margin: 0.5rem;
}
#impress .ma3,
.reveal .ma3 {
  margin: 1rem;
}
#impress .ma4,
.reveal .ma4 {
  margin: 2rem;
}
#impress .ma5,
.reveal .ma5 {
  margin: 4rem;
}
#impress .ma6,
.reveal .ma6 {
  margin: 8rem;
}
#impress .ma7,
.reveal .ma7 {
  margin: 16rem;
}
#impress .ml0,
.reveal .ml0 {
  margin-left: 0;
}
#impress .ml1,
.reveal .ml1 {
  margin-left: 0.25rem;
}
#impress .ml2,
.reveal .ml2 {
  margin-left: 0.5rem;
}
#impress .ml3,
.reveal .ml3 {
  margin-left: 1rem;
}
#impress .ml4,
.reveal .ml4 {
  margin-left: 2rem;
}
#impress .ml5,
.reveal .ml5 {
  margin-left: 4rem;
}
#impress .ml6,
.reveal .ml6 {
  margin-left: 8rem;
}
#impress .ml7,
.reveal .ml7 {
  margin-left: 16rem;
}
#impress .mr0,
.reveal .mr0 {
  margin-right: 0;
}
#impress .mr1,
.reveal .mr1 {
  margin-right: 0.25rem;
}
#impress .mr2,
.reveal .mr2 {
  margin-right: 0.5rem;
}
#impress .mr3,
.reveal .mr3 {
  margin-right: 1rem;
}
#impress .mr4,
.reveal .mr4 {
  margin-right: 2rem;
}
#impress .mr5,
.reveal .mr5 {
  margin-right: 4rem;
}
#impress .mr6,
.reveal .mr6 {
  margin-right: 8rem;
}
#impress .mr7,
.reveal .mr7 {
  margin-right: 16rem;
}
#impress .mb0,
.reveal .mb0 {
  margin-bottom: 0;
}
#impress .mb1,
.reveal .mb1 {
  margin-bottom: 0.25rem;
}
#impress .mb2,
.reveal .mb2 {
  margin-bottom: 0.5rem;
}
#impress .mb3,
.reveal .mb3 {
  margin-bottom: 1rem;
}
#impress .mb4,
.reveal .mb4 {
  margin-bottom: 2rem;
}
#impress .mb5,
.reveal .mb5 {
  margin-bottom: 4rem;
}
#impress .mb6,
.reveal .mb6 {
  margin-bottom: 8rem;
}
#impress .mb7,
.reveal .mb7 {
  margin-bottom: 16rem;
}
#impress .mt0,
.reveal .mt0 {
  margin-top: 0;
}
#impress .mt1,
.reveal .mt1 {
  margin-top: 0.25rem;
}
#impress .mt2,
.reveal .mt2 {
  margin-top: 0.5rem;
}
#impress .mt3,
.reveal .mt3 {
  margin-top: 1rem;
}
#impress .mt4,
.reveal .mt4 {
  margin-top: 2rem;
}
#impress .mt5,
.reveal .mt5 {
  margin-top: 4rem;
}
#impress .mt6,
.reveal .mt6 {
  margin-top: 8rem;
}
#impress .mt7,
.reveal .mt7 {
  margin-top: 16rem;
}
#impress .mv0,
.reveal .mv0 {
  margin-top: 0;
  margin-bottom: 0;
}
#impress .mv1,
.reveal .mv1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#impress .mv2,
.reveal .mv2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#impress .mv3,
.reveal .mv3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#impress .mv4,
.reveal .mv4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#impress .mv5,
.reveal .mv5 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#impress .mv6,
.reveal .mv6 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}
#impress .mv7,
.reveal .mv7 {
  margin-top: 16rem;
  margin-bottom: 16rem;
}
#impress .mh0,
.reveal .mh0 {
  margin-left: 0;
  margin-right: 0;
}
#impress .mh1,
.reveal .mh1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
#impress .mh2,
.reveal .mh2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#impress .mh3,
.reveal .mh3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
#impress .mh4,
.reveal .mh4 {
  margin-left: 2rem;
  margin-right: 2rem;
}
#impress .mh5,
.reveal .mh5 {
  margin-left: 4rem;
  margin-right: 4rem;
}
#impress .mh6,
.reveal .mh6 {
  margin-left: 8rem;
  margin-right: 8rem;
}
#impress .mh7,
.reveal .mh7 {
  margin-left: 16rem;
  margin-right: 16rem;
}
#impress .na1,
.reveal .na1 {
  margin: -0.25rem;
}
#impress .na2,
.reveal .na2 {
  margin: -0.5rem;
}
#impress .na3,
.reveal .na3 {
  margin: -1rem;
}
#impress .na4,
.reveal .na4 {
  margin: -2rem;
}
#impress .na5,
.reveal .na5 {
  margin: -4rem;
}
#impress .na6,
.reveal .na6 {
  margin: -8rem;
}
#impress .na7,
.reveal .na7 {
  margin: -16rem;
}
#impress .nl1,
.reveal .nl1 {
  margin-left: -0.25rem;
}
#impress .nl2,
.reveal .nl2 {
  margin-left: -0.5rem;
}
#impress .nl3,
.reveal .nl3 {
  margin-left: -1rem;
}
#impress .nl4,
.reveal .nl4 {
  margin-left: -2rem;
}
#impress .nl5,
.reveal .nl5 {
  margin-left: -4rem;
}
#impress .nl6,
.reveal .nl6 {
  margin-left: -8rem;
}
#impress .nl7,
.reveal .nl7 {
  margin-left: -16rem;
}
#impress .nr1,
.reveal .nr1 {
  margin-right: -0.25rem;
}
#impress .nr2,
.reveal .nr2 {
  margin-right: -0.5rem;
}
#impress .nr3,
.reveal .nr3 {
  margin-right: -1rem;
}
#impress .nr4,
.reveal .nr4 {
  margin-right: -2rem;
}
#impress .nr5,
.reveal .nr5 {
  margin-right: -4rem;
}
#impress .nr6,
.reveal .nr6 {
  margin-right: -8rem;
}
#impress .nr7,
.reveal .nr7 {
  margin-right: -16rem;
}
#impress .nb1,
.reveal .nb1 {
  margin-bottom: -0.25rem;
}
#impress .nb2,
.reveal .nb2 {
  margin-bottom: -0.5rem;
}
#impress .nb3,
.reveal .nb3 {
  margin-bottom: -1rem;
}
#impress .nb4,
.reveal .nb4 {
  margin-bottom: -2rem;
}
#impress .nb5,
.reveal .nb5 {
  margin-bottom: -4rem;
}
#impress .nb6,
.reveal .nb6 {
  margin-bottom: -8rem;
}
#impress .nb7,
.reveal .nb7 {
  margin-bottom: -16rem;
}
#impress .nt1,
.reveal .nt1 {
  margin-top: -0.25rem;
}
#impress .nt2,
.reveal .nt2 {
  margin-top: -0.5rem;
}
#impress .nt3,
.reveal .nt3 {
  margin-top: -1rem;
}
#impress .nt4,
.reveal .nt4 {
  margin-top: -2rem;
}
#impress .nt5,
.reveal .nt5 {
  margin-top: -4rem;
}
#impress .nt6,
.reveal .nt6 {
  margin-top: -8rem;
}
#impress .nt7,
.reveal .nt7 {
  margin-top: -16rem;
}
#impress ol, #impress dl, #impress ul,
.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
}
#impress ul,
.reveal ul {
  list-style-type: disc;
}
#impress ul ul,
.reveal ul ul {
  list-style-type: circle;
}
#impress ul ul ul,
.reveal ul ul ul {
  list-style-type: square;
}
#impress ol,
.reveal ol {
  list-style-type: decimal;
}
#impress ol ol,
.reveal ol ol {
  list-style-type: lower-alpha;
}
#impress ol ol ol,
.reveal ol ol ol {
  list-style-type: lower-roman;
}
#impress li,
.reveal li {
  color: var(--c-list-color);
}
#impress li li,
.reveal li li {
  color: var(--c-list-alt-color);
  margin-left: 0.5em;
}
#impress li li li,
.reveal li li li {
  color: var(--c-list-color);
}
#impress dt,
.reveal dt {
  font-weight: bold;
}
#impress dd,
.reveal dd {
  margin-left: 2em;
}
#impress input,
.reveal input {
  font-size: 1em;
}
#impress h1, #impress h2, #impress h3, #impress h4, #impress h5, #impress h6,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: var(--c-heading-color);
  text-shadow: -2px 2px 4px var(--c-shadow-color-9);
  margin: var(--c-heading-margin);
  font-family: var(--c-heading-font);
  font-weight: var(--c-heading-font-weight);
  line-height: var(--c-heading-line-height);
  letter-spacing: var(--c-heading-letter-spacing);
  text-transform: var(--c-heading-text-transform);
  text-shadow: var(--c-heading-text-shadow);
  word-wrap: break-word;
}
#impress h1 strong, #impress h1 b, #impress h2 strong, #impress h2 b, #impress h3 strong, #impress h3 b, #impress h4 strong, #impress h4 b, #impress h5 strong, #impress h5 b, #impress h6 strong, #impress h6 b,
.reveal h1 strong,
.reveal h1 b,
.reveal h2 strong,
.reveal h2 b,
.reveal h3 strong,
.reveal h3 b,
.reveal h4 strong,
.reveal h4 b,
.reveal h5 strong,
.reveal h5 b,
.reveal h6 strong,
.reveal h6 b {
  color: var(--c-accent-color);
}
#impress h1,
.reveal h1 {
  font-size: var(--c-heading-1-size);
}
#impress h2,
.reveal h2 {
  font-size: var(--c-heading-2-size);
}
#impress h3,
.reveal h3 {
  font-size: var(--c-heading-3-size);
}
#impress h4,
.reveal h4 {
  font-size: var(--c-heading-4-size);
}
#impress h1,
.reveal h1 {
  text-shadow: var(--c-heading1-text-shadow);
}
#impress b, #impress strong,
.reveal b,
.reveal strong {
  font-weight: bold;
}
#impress strong,
.reveal strong {
  color: var(--c-accent-color);
}
#impress em,
.reveal em {
  font-style: italic;
}
#impress q,
.reveal q {
  font-style: italic;
  text-shadow: 0 6px 6px var(--c-border-color-3);
  /* font-family: 'PT Serif'; */
  /* font-weight: 400;     */
}
#impress blockquote,
.reveal blockquote {
  color: var(--c-blockquote-color);
  border-left-color: var(--c-blockquote-border-color);
  display: block;
  position: relative;
  font-style: italic;
  font-weight: 400;
  border-left: 1px solid;
  padding-left: 1em;
  margin: var(--c-block-margin) 3em var(--c-block-margin) 2em;
}
#impress a,
.reveal a {
  color: var(--c-link-color);
  text-shadow: -2px 2px 4px var(--c-shadow-color-9);
  text-decoration: none;
  padding: 0 0.1em;
  border-radius: 0.2em;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-bottom-color: var(--c-border-color-2);
  border-left-color: var(--c-border-color-2);
  transition: 0.5s;
}
#impress a:hover, #impress a:focus,
.reveal a:hover,
.reveal a:focus {
  color: var(--c-link-color-hover);
  background: var(--c-link-bg-color);
  text-shadow: -2px 2px 3px var(--c-shadow-color-5);
}
#impress code, #impress kbd, #impress samp,
.reveal code,
.reveal kbd,
.reveal samp {
  font-family: var(--c-code-font);
}
#impress pre,
.reveal pre {
  position: relative;
  margin: var(--c-block-margin) auto;
  text-align: left;
  line-height: 1.2;
  word-wrap: break-word;
}
#impress pre > code,
.reveal pre > code {
  display: block;
  color: var(--c-main-color);
  background-color: var(--c-code-bg-color);
  padding: 0.5em;
  border: 2px solid var(--c-border-color-3);
  overflow: auto;
  word-wrap: normal;
  font-size: var(--c-code-font-size);
}
#impress table,
.reveal table {
  /* width: 100%; */
  /* max-width: 100%; */
  border: 1px solid;
  border-color: var(--c-border-color);
  border-collapse: collapse;
  /* border-spacing: 0; */
  margin-bottom: 1rem;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}
#impress table tbody + tbody,
.reveal table tbody + tbody {
  border-top: 2px solid;
  border-top-color: var(--c-border-color);
}
#impress table table,
.reveal table table {
  background-color: var(--c-table-bg-color);
}
#impress table.borderless,
#impress table.borderless th,
#impress table.borderless td,
#impress table.borderless thead th,
#impress table.borderless thead td,
.reveal table.borderless,
.reveal table.borderless th,
.reveal table.borderless td,
.reveal table.borderless thead th,
.reveal table.borderless thead td {
  border: none;
}
#impress .hljs table,
.reveal .hljs table {
  border: none;
}
#impress th,
.reveal th {
  text-align: inherit;
}
#impress th, #impress td,
.reveal th,
.reveal td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid;
  border-top-color: var(--c-border-color);
}
#impress thead,
.reveal thead {
  display: table-header-group;
}
#impress thead th,
.reveal thead th {
  vertical-align: bottom;
}
#impress thead th, #impress thead td,
.reveal thead th,
.reveal thead td {
  border-bottom: 2px solid;
  border-bottom-color: var(--c-border-color);
}
#impress .striped table tbody tr:nth-of-type(odd),
#impress table.striped tbody tr:nth-of-type(odd),
.reveal .striped table tbody tr:nth-of-type(odd),
.reveal table.striped tbody tr:nth-of-type(odd) {
  background-color: var(--c-border-color-05);
}
#impress .vstriped tbody td:nth-of-type(odd),
#impress .vstriped thead th:nth-of-type(odd),
.reveal .vstriped tbody td:nth-of-type(odd),
.reveal .vstriped thead th:nth-of-type(odd) {
  background-color: var(--c-border-color-05);
}
#impress .hover table tbody tr:hover,
#impress table.hover tbody tr:hover,
.reveal .hover table tbody tr:hover,
.reveal table.hover tbody tr:hover {
  background-color: var(--c-border-color-075);
}
#impress p,
.reveal p {
  margin: var(--c-block-margin) 0;
  line-height: 1.3;
  text-align: left;
}
#impress del, #impress s,
.reveal del,
.reveal s {
  text-decoration-color: var(--c-accent2-color);
}
#impress li del, #impress li s,
.reveal li del,
.reveal li s {
  text-decoration-color: var(--c-accent-color);
}
#impress li li del, #impress li li s,
.reveal li li del,
.reveal li li s {
  text-decoration-color: var(--c-accent2-color);
}
#impress code,
.reveal code {
  line-height: 1;
}
#impress img,
.reveal img {
  margin: var(--c-block-margin) 0;
}
#impress .font-normalsize,
.reveal .font-normalsize {
  font-size: 100%;
}
#impress .font-smaller,
#impress .font-smaller1,
.reveal .font-smaller,
.reveal .font-smaller1 {
  font-size: 90%;
}
#impress .font-smaller2,
.reveal .font-smaller2 {
  font-size: 80%;
}
#impress .font-smaller3,
.reveal .font-smaller3 {
  font-size: 70%;
}
#impress .font-smaller4,
.reveal .font-smaller4 {
  font-size: 60%;
}
#impress .font-smaller5,
.reveal .font-smaller5 {
  font-size: 50%;
}
#impress .font-larger,
#impress .font-larger1,
.reveal .font-larger,
.reveal .font-larger1 {
  font-size: 110%;
}
#impress .font-larger2,
.reveal .font-larger2 {
  font-size: 120%;
}
#impress .font-larger3,
.reveal .font-larger3 {
  font-size: 130%;
}
#impress .font-larger4,
.reveal .font-larger4 {
  font-size: 150%;
}
#impress .font-larger5,
.reveal .font-larger5 {
  font-size: 200%;
}
#impress .more-text,
.reveal .more-text {
  font-size: 80%;
}
#impress .more-text .step,
.reveal .more-text .step {
  font-size: 65%;
}
#impress .more-text table,
.reveal .more-text table {
  font-size: 80%;
}
#impress .float-right,
.reveal .float-right {
  float: right;
  margin-left: 1rem;
  margin-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#impress .float-left,
.reveal .float-left {
  float: left;
  margin-right: 1rem;
  margin-left: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#impress .top,
.reveal .top {
  position: absolute;
  top: 1rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
}
#impress .bottom,
.reveal .bottom {
  position: absolute;
  bottom: 1rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
}
#impress .right,
.reveal .right {
  position: absolute;
  right: 0rem;
  margin-left: 1rem;
  margin-right: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#impress .left,
.reveal .left {
  position: absolute;
  left: 0rem;
  margin-right: 1rem;
  margin-left: 0rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#impress .visible,
.reveal .visible {
  visibility: visible;
}
#impress .hidden,
.reveal .hidden {
  visibility: hidden;
}
#impress .mermaid .main_class,
.reveal .mermaid .main_class {
  fill: #ffdfdf;
  text-align: center;
}
#impress .override-color path,
.reveal .override-color path {
  stroke: var(--c-main-color);
}
#impress ::selection, #impress ::-moz-selection,
.reveal ::selection,
.reveal ::-moz-selection {
  color: var(--c-selection-color);
  background: var(--c-selection-bg-color);
  text-shadow: none;
}
#impress img,
#impress video,
#impress iframe,
#impress svg,
.reveal img,
.reveal video,
.reveal iframe,
.reveal svg {
  max-width: 95%;
  max-height: 95%;
  padding: 1rem;
}
#impress svg:not([class^=bg-], [class*=" bg-"]),
.reveal svg:not([class^=bg-], [class*=" bg-"]) {
  /* Add a background, so the line and text is visible in both light and dark theme */
  background: rgba(255, 255, 255, 0.5);
}

:root {
  --c-default-step-width: 1800px;
  --c-default-slide-width: 1850px;
  --c-default-slide-height: 1000px;
}

body.impress-enabled {
  min-height: 740px;
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  /* tachyons.css will set box-sizing of table to border-box, overwrite that */
}
body.impress-enabled #impress-help {
  box-sizing: content-box;
}
#impress {
  /*
   * Make inactive steps a little bit transparent.
   */
  /*
  These 'slide' step styles were heavily inspired by HTML5 Slides:
  http://html5slides.googlecode.com/svn/trunk/styles.css
   */
  /* Debuging background */
  /* Slides that are visible only during their turn. Typically on top of another slide. */
  /* Styles for animating the contents of a slide, such as a img, p, li or span element. ********/
  /*
  fly-in class starts from a position outside the slide, then flies into it's correct position.
   */
  /*
  Fade-in/out is a straightforward fade. Give it enough seconds that all browsers render it clearly.
   */
  /*
  Gray-in/out like fade, but it's not 100% transparent.
   */
  /*
  Zoom-in.
   */
}
#impress .step .substep.is-curr-substep,
#impress .step .substep .is-curr-substep {
  opacity: 0;
  transition: opacity 1s;
}
#impress .step .substep.accent-in, #impress .step .substep .accent-in, #impress .step .substep.strike-in, #impress .step .substep .strike-in {
  visibility: visible;
  opacity: 1;
}
#impress .step .substep.unblur-in, #impress .step .substep .unblur-in {
  visibility: visible;
  filter: blur(5px);
}
#impress .step .substep.blur-in, #impress .step .substep .blur-in {
  visibility: visible;
  filter: none;
}
#impress .step .substep.substep-visible.accent-in, #impress .step .substep.substep-visible .accent-in {
  color: var(--c-accent-color);
}
#impress .step .substep.substep-visible.unblur-in, #impress .step .substep.substep-visible .unblur-in {
  filter: none;
}
#impress .step .substep.substep-visible.blur-in, #impress .step .substep.substep-visible .blur-in {
  filter: blur(5px);
}
#impress .step .substep.substep-visible.strike-in, #impress .step .substep.substep-visible .strike-in {
  text-decoration-color: var(--c-accent2-color);
  text-decoration: line-through;
}
#impress .step .substep.substep-active.is-curr-substep,
#impress .step .substep.substep-active .is-curr-substep {
  opacity: 1;
  transition: opacity 1s;
}
#impress .step li li.substep.substep-visible.accent-in, #impress .step li li.substep.substep-visible .accent-in {
  color: var(--c-accent2-color);
}
#impress .step li li.substep.substep-visible.strike-in, #impress .step li li.substep.substep-visible .strike-in {
  text-decoration-color: var(--c-accent2-color);
}
#impress .step li.substep.substep-visible.accent-in, #impress .step li.substep.substep-visible .accent-in {
  color: var(--c-accent-color);
}
#impress .step li.substep.substep-visible.strike-in, #impress .step li.substep.substep-visible .strike-in {
  text-decoration-color: var(--c-accent-color);
}
#impress .step .substep.is-curr-substep.remove-out,
#impress .step .substep .is-curr-substep.remove-out {
  display: none;
}
#impress .step .substep.substep-active.is-curr-substep.remove-out,
#impress .step .substep.substep-active .is-curr-substep.remove-out {
  display: unset;
}
#impress .step li.substep.substep-active.is-curr-substep.remove-out,
#impress .step .substep.substep-active li.is-curr-substep.remove-out {
  display: list-item;
}
#impress .box {
  background-color: var(--c-box-bg-color);
  border: 2px solid;
  border-radius: 30px;
  border-color: var(--c-border-color-3);
  box-shadow: 0 4px 8px var(--c-shadow-color-1);
}
#impress .box pre > code {
  background-color: var(--c-box-code-bg-color);
}
#impress .step {
  position: relative;
  width: calc(0.9375 * var(--slide-width, var(--c-default-step-width)));
  padding: 3rem;
  margin: 0rem;
  box-sizing: border-box;
  /* font-size: 3.75em; */
  line-height: 1.4;
  text-shadow: 0 3px 3px var(--c-shadow-color-2);
}
#impress .step {
  opacity: 0.8;
  transition: opacity 1s;
  /* transition: opacity 3s; */
}
#impress .step.active {
  opacity: 1;
}
#impress .slide {
  display: block;
  width: calc(0.9635 * var(--slide-width, var(--c-default-slide-width)));
  height: calc(0.9259 * var(--slide-height, var(--c-default-slide-height)));
  padding: 2rem 3rem;
  /* Fix for slides with data-z != 0 */
  /* Cancel margin for fit-text elements */
}
#impress .slide.flex {
  display: flex;
}
#impress .slide.zfix, #impress .slide.zfix * {
  padding-top: 0px;
  margin-top: 0px;
}
#impress .slide pre {
  background: none;
  padding: 0;
  border: none;
  font-size: 0.6em;
  line-height: 0.7em;
}
#impress .slide q {
  display: block;
  margin-top: 100px;
}
#impress .slide .fit-text {
  margin-bottom: 20px;
  margin-top: 20px;
}
#impress.debug .step {
  /* for layout debuggind */
  background-color: var(--c-debug-color);
}
#impress .future.is-curr-step,
#impress .past.is-curr-step {
  display: none;
}
#impress .future .is-curr-step,
#impress .past .is-curr-step {
  opacity: 0;
  transition: opacity 1s;
}
#impress .present.is-curr-step,
#impress .present .is-curr-step {
  opacity: 1;
  transition: opacity 1s;
}
#impress .hidestep, #impress .hidestep.slide {
  display: none;
}
#impress .step.title {
  padding: 2rem 3rem;
}
#impress .step.subslide {
  opacity: 0;
  transition: opacity 1s;
  padding-top: 300px;
}
#impress .step.subslide.active {
  opacity: 1;
  transition: opacity 1s;
}
#impress .step.subslide p {
  text-align: left;
}
#impress .step.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#impress .step.title h1,
#impress .step.title h2,
#impress .step.title h3,
#impress .step.title p {
  width: 100%;
  text-align: center;
}
#impress .future .fly-in {
  transform: translateY(-2100px);
  opacity: 0;
  /* Make it invisible, just so it doesn't clutter some other slide that might be in the position where we moved it */
}
#impress .present .fly-in {
  transform: translateY(0px);
  opacity: 1;
  transition: 2s;
}
#impress .past .fly-out {
  transform: translateY(2100px);
  opacity: 0;
  transition: 2s;
}
#impress .future.fade-in,
#impress .future .fade-in {
  opacity: 0;
}
#impress .present.fade-in,
#impress .present .fade-in {
  opacity: 1;
  transition: 7s;
}
#impress .past.fade-out,
#impress .past .fade-out {
  opacity: 0;
  transition: 3s;
}
#impress .future.gray-in,
#impress .future .gray-in {
  opacity: 0.3;
}
#impress .present.gray-in,
#impress .present .gray-in {
  opacity: 1;
  transition: 7s;
}
#impress .past.gray-out,
#impress .past .gray-out {
  opacity: 0.3;
  transition: 3s;
}
#impress .future .zoom-in {
  transform: scale(10);
  opacity: 0;
}
#impress .present .zoom-in {
  transform: scale(1);
  opacity: 1;
  transition: 3s;
}
#impress .past .zoom-out {
  transform: scale(10);
  opacity: 0;
}
#impress #overview {
  pointer-events: none;
}
#impress #overview #signature {
  color: #546778;
  opacity: 0;
  font-size: 40%;
}
#impress #overview #signature a {
  font-family: "PT Serif";
  font-size: 120%;
  text-decoration: none;
  border: none;
  background: none;
  pointer-events: auto;
}

.impress-on-overview #impress #overview #signature {
  opacity: 1;
}
.impress-on-overview #impress .show-on-overview {
  opacity: 1;
}
.impress-on-overview #impress .hide-on-overview {
  opacity: 0;
}

:root {
  --r-background-color: $bg-color;
  --r-main-color: $main-color;
  --r-heading-color: $heading-color;
  --r-link-color: $link-color;
  --r-link-color-dark: color.darken($link-color , 15% );
  --r-link-color-hover: $link-color-hover;
  --r-selection-background-color: $selection-bg-color;
  --r-selection-color: $selection-color;
}

.reveal {
  /*********************************************
   * NAVIGATION CONTROLS
   *********************************************/
  /*********************************************
   * PROGRESS BAR
   *********************************************/
}
.reveal section .fragment.is-curr-substep,
.reveal section .fragment .is-curr-substep {
  opacity: 0;
  transition: opacity 1s;
}
.reveal section .fragment.accent-in, .reveal section .fragment .accent-in, .reveal section .fragment.strike-in, .reveal section .fragment .strike-in {
  visibility: visible;
  opacity: 1;
}
.reveal section .fragment.unblur-in, .reveal section .fragment .unblur-in {
  visibility: visible;
  filter: blur(5px);
}
.reveal section .fragment.blur-in, .reveal section .fragment .blur-in {
  visibility: visible;
  filter: none;
}
.reveal section .fragment.visible.accent-in, .reveal section .fragment.visible .accent-in {
  color: var(--c-accent-color);
}
.reveal section .fragment.visible.unblur-in, .reveal section .fragment.visible .unblur-in {
  filter: none;
}
.reveal section .fragment.visible.blur-in, .reveal section .fragment.visible .blur-in {
  filter: blur(5px);
}
.reveal section .fragment.visible.strike-in, .reveal section .fragment.visible .strike-in {
  text-decoration-color: var(--c-accent2-color);
  text-decoration: line-through;
}
.reveal section .fragment.current-fragment.is-curr-substep,
.reveal section .fragment.current-fragment .is-curr-substep {
  opacity: 1;
  transition: opacity 1s;
}
.reveal section li li.fragment.visible.accent-in, .reveal section li li.fragment.visible .accent-in {
  color: var(--c-accent2-color);
}
.reveal section li li.fragment.visible.strike-in, .reveal section li li.fragment.visible .strike-in {
  text-decoration-color: var(--c-accent2-color);
}
.reveal section li.fragment.visible.accent-in, .reveal section li.fragment.visible .accent-in {
  color: var(--c-accent-color);
}
.reveal section li.fragment.visible.strike-in, .reveal section li.fragment.visible .strike-in {
  text-decoration-color: var(--c-accent-color);
}
.reveal section .fragment.is-curr-substep.remove-out,
.reveal section .fragment .is-curr-substep.remove-out {
  display: none;
}
.reveal section .fragment.current-fragment.is-curr-substep.remove-out,
.reveal section .fragment.current-fragment .is-curr-substep.remove-out {
  display: unset;
}
.reveal section li.fragment.current-fragment.is-curr-substep.remove-out,
.reveal section .fragment.current-fragment li.is-curr-substep.remove-out {
  display: list-item;
}
.reveal section.title {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.reveal .r-frame {
  border: 4px solid var(--c-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.reveal a .r-frame {
  transition: all 0.15s linear;
}
.reveal a:hover .r-frame {
  border-color: var(--c-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
.reveal .controls {
  color: var(--c-link-color);
}
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--c-link-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .reveal .backgrounds {
    background-color: var(--c-bg-color);
  }
}

/*# sourceMappingURL=classic-slides.css.map */
