// from atom-one-light.css
@use 'color_scheme' with (
    $bg-color: #fafafa,
    $main-color: #383a42,
    $heading-color: #4078f2,
    $list-alt-color: #c18401,
    $accent-color: #a626a4,
    $border-color: #a0a1a7,
    $link-color: #4078f2,
);
