// from gruvbox-light.css
@use '../color_define' with (
    $bg-color: #fbf1c7,
    $main-color: #3c3836,
    $heading-color: #076678,
    $list-alt-color: #076678,
    $accent-color: #9d0006,
    $border-color: #928374,
    $link-color: #9d0006,
);
