// from idea.css
@use 'color_scheme' with (
    $bg-color: #fff,
    $main-color: #000,
    $heading-color: #000,
    
    $accent-color: #000080,
    $border-color: #808080,
    $link-color: #0000ff,
);
