// from monokai.css
@use '../color_define' with (
    $bg-color: #272822,
    $main-color: #ddd,
    $heading-color: #a6e22e,
    $list-alt-color: #a6e22e,
    $accent-color: #f92672,
    $border-color: #75715e,
    $link-color: #bf79db,
);
