// from tomorrow-night.css
@use 'color_scheme' with (
    $bg-color: #1d1f21,
    $main-color: #969896,
    $heading-color: #81a2be,
    $list-alt-color: #de935f,
    $accent-color: #b294bb,
    $border-color: #969896,
    $link-color: #de935f,
);
