// from vs.css
@use 'color_scheme' with (
    $bg-color: white,
    $main-color: black,
    $heading-color: #a31515,
    $list-alt-color: #00f,
    $accent-color: #00f,
    $border-color: #008000,
    $link-color: #00b0e8,
);
