@use 'color_scheme' with (
    $bg-color: #86f0fa,      // hsl(185, 92%, 75%)
    $main-color: #203864,
    $heading-color: #2f5597, // hsl(218, 53%, 39%)
    // $accent-color: #ffc000,
);

@mixin bodyBackground() {
	background: 100% 100% url("../images/浅蓝背景1.png");
}

@mixin slideBackground() {
    background: url("../images/深交所.png") left 5.21% bottom 3% / 12.5% auto no-repeat fixed, url("../images/深证通.png") right 5.21% bottom 3.1% / 15.63% auto no-repeat fixed;
}

@mixin titleSlideBackground() {
    background: url("../images/深交所.png") left 35% bottom 7.14% / 12.5% auto no-repeat fixed, url("../images/深证通.png") right 35% bottom 8.29% / 15.63% auto no-repeat fixed;
}

@import 'background';
