@use 'color_scheme' with (
    $bg-color: #86f0fa,      // hsl(185, 92%, 75%)
    $main-color: #203864,
    $heading-color: #2f5597, // hsl(218, 53%, 39%)
    // $accent-color: #ffc000,
);

@mixin bodyBackground() {
	background: 100% 100% url("../images/浅蓝背景1.png");
}

@import 'background';
