:root {
    --color-1: 28,  142, 242; /* #1D8FF2 */
    --color-2: 17,  96,  165; /* #1261A6 */
    --color-3: 61,  172, 242; /* #3DADF2 */
    --color-4: 242, 242, 242; /* #F2F2F2 */ 
    --color-5: 80,  195, 242; /* #50C4F2 */

    --bg_color:                var(--color-5);
    --text_color:              var(--color-2);
    --box_bg_color:            255, 255, 255;
    --table_bg_color:          255, 255, 255;
    --title_color:             var(--color-4);
    --highlight_color1:        var(--color-2);
    --highlight_color2:        var(--color-4);
    --highlight_color3:        238, 103, 93;  /* #ee675d */
    --blockquote_color:        51,  51,  51;  /* #333333 */
    --blockquote_border_color: 26,  188, 159; /* #1abc9c */
    --border_color:            17,  96,  165; /* #1261A6 */
    --a_bg_color:              200, 200, 20j;
    --shadow_color:            var(--color-2);
    --title_shadow_color:      var(--color-2);
}

li {
    list-style: none;
    color: rgb(var(--title_color));
}

li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(var(--text_color)); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

li li {
    list-style: none;
    color: rgb(var(--text_color));
    margin-left: 0.5em;
}

li li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(var(--title_color)); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#impress .step .substep.substep-visible .strike-on-substep,
#impress .step .substep.substep-visible.strike-on-substep {
    text-decoration-color: rgb(var(--highlight_color1));
}

body {
    background: rgb(var(--bg_color));
    color: rgb(var(--text_color));
}

blockquote {
  color: rgb(var(--blockquote_color));
  border-left-color: var(--blockquote_border_color);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--title_color));
  text-shadow: -2px 2px 4px rgba(var(--title_shadow_color), 0.9);
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong,
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b
{
  color: rgb(var(--highlight_color1));
  /* font-weight: bolder; */
}

.markdown strong {
  color: rgv(var(--highlight_color2));
}

#impress table {
  border-color: rgb(var(--border_color));
}

#impress th,
#impress td {
  border-top-color: rgb(var(--border_color));
}

#impress thead th,
#impress thead td {
  border-bottom-color: rgb(var(--border_color));
}

#impress table tbody + tbody {
  border-top-color: rgb(var(--border_color));
}

#impress table table {
  background-color: rgb(var(--table_bg_color));
}

#impress .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(var(--shadow_color), 0.05);
}

#impress .table-hover tbody tr:hover {
  background-color: rgba(var(--shadow_color), 0.075);
}

q {
    text-shadow: 0 6px 6px rgba(var(--shadow_color), .3);
}

.noaccent {color: rgb(var(--text_color));}
.accent, .accent1 {color: rgb(var(--highlight_color1));}
.accent2 {color: rgb(var(--highlight_color2));}
.accent3 {color: #ac94e8;}
.accent4 {color: #60d2b6;}

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */
.primary {color: #4e91e4;}
.success {color: #4acf7f;}
.warning {color: #fbc850;}
.error {color: #ee675d;}
.dark {color: #546778;}
.light {color: #dde5ee;}

a {
    background: rgba(var(--a_bg_color),0.2);
    text-shadow: -2px 2px 4px rgba(var(--border_color),0.9);
    border-bottom-color: rgba(var(--border_color),0.2);
    border-left-color:   rgba(var(--border_color),0.2);
}
a:hover,
a:focus {
    background: rgba(var(--a_bg_color),1);
    text-shadow: -2px 2px 3px rgba(var(--border_color),0.5);
}

.box {
    background-color: rgba(var(--box_bg_color), 0.1);
    border-color: rgba(var(--shadow_color), .3);
    box-shadow: 0 4px 8px rgba(var(--shadow_color), .1);
}

.slide {
    text-shadow: 0 3px 3px rgba(var(--shadow_color), .2);
}

.slide.active,
.slide.active * {
    /*border: 3px solid red;*/
}

/* Highlight.js used for coloring pre > code blocks. */
.slide pre > code {
    text-shadow: 0 0 0 rgba(var(--shadow_color), 0);
}

#overview #signature {
    color: #546778;
}

/* style for main classes in mermaid classDiagram */
#impress .mermaid .main_class {
  fill: #ffdfdf;
}

