@charset "UTF-8";
li {
  list-style: none;
  color: #4e91e4;
}

li::before {
  content: "•";
  color: #464646;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li li::before {
  content: "•";
  color: #4e91e4;
}

li li {
  list-style: none;
  color: #464646;
  margin-left: 0.5em;
}

.step li strong,
.step li .accent {
  color: #ee675d;
}

.step li li strong,
.step li li .accent {
  color: #4e91e4;
}

#impress .step .substep.substep-visible .strike-on-substep,
#impress .step .substep.substep-visible.strike-on-substep,
#impress .step li li.substep.substep-visible .strike-on-substep,
#impress .step li li.substep.substep-visible.strike-on-substep {
  text-decoration-color: #4e91e4;
}

#impress .step li.substep.substep-visible .strike-on-substep,
#impress .step li.substep.substep-visible.strike-on-substep {
  text-decoration-color: #ee675d;
}

body {
  background: #cccccc;
  color: #464646;
}

blockquote {
  color: rgba(70, 70, 70, 0.7);
  border-left-color: #1abc9c;
}

h1, h2, h3, h4, h5, h6 {
  color: #4e91e4;
  text-shadow: -2px 2px 4px rgba(153, 153, 153, 0.9);
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong,
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b {
  color: #ee675d;
  /* font-weight: bolder; */
}

.markdown strong {
  color: #ee675d;
}

#impress table {
  border-color: #4e91e4;
}

#impress th,
#impress td {
  border-top-color: #4e91e4;
}

#impress thead th,
#impress thead td {
  border-bottom-color: #4e91e4;
}

#impress table tbody + tbody {
  border-top-color: #4e91e4;
}

#impress table table {
  background-color: white;
}

#impress .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(78, 145, 228, 0.05);
}

#impress .table-hover tbody tr:hover {
  background-color: rgba(78, 145, 228, 0.075);
}

q {
  text-shadow: 0 6px 6px rgba(78, 145, 228, 0.3);
}

.noaccent {
  color: #464646;
}

.accent, .accent1 {
  color: #4e91e4;
}

.accent2 {
  color: #ee675d;
}

.accent3 {
  color: #ac94e8;
}

.accent4 {
  color: #60d2b6;
}

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */
.primary {
  color: #4e91e4;
}

.success {
  color: #4acf7f;
}

.warning {
  color: #fbc850;
}

.error {
  color: #ee675d;
}

.dark {
  color: #546778;
}

.light {
  color: #dde5ee;
}

a {
  background: rgba(203, 204, 204, 0.2);
  text-shadow: -2px 2px 4px rgba(153, 153, 153, 0.9);
  border-bottom-color: rgba(78, 145, 228, 0.2);
  border-left-color: rgba(78, 145, 228, 0.2);
}

a:hover,
a:focus {
  background: #cbcccc;
  text-shadow: -2px 2px 3px rgba(153, 153, 153, 0.5);
}

.box {
  background-color: #e6e6e6;
  border-color: rgba(78, 145, 228, 0.3);
  box-shadow: 0 4px 8px rgba(153, 153, 153, 0.1);
}

.slide {
  text-shadow: 0 3px 3px rgba(153, 153, 153, 0.2);
}

.slide.active,
.slide.active * {
  /*border: 3px solid red;*/
}

/* Highlight.js used for coloring pre > code blocks. */
.slide pre > code {
  text-shadow: 0 0 0 rgba(153, 153, 153, 0);
}

#overview #signature {
  color: #546778;
}

/* style for main classes in mermaid classDiagram */
#impress .mermaid .main_class {
  fill: #ffdfdf;
}

/*# sourceMappingURL=default.css.map */
