// common styles, common to impress.js and reveal.js

// // Customed list bullet color
// ul > li::before {
//   content: "\2022";
//   color: var(--c-main-color);
//   font-weight: bold;
//   display: inline-block;
//   width: 1em;
//   margin-left: -1em;
// }
//
// li li::before {
//   content: "\2022";
//   color: var(--c-accent2-color);
// }
//
// li {
//     list-style: none;
// }

@import "tachyons_mixins";

.noaccent         { color: var(--c-main-color); }
.accent, .accent1 { color: var(--c-accent-color); }
.accent2          { color: var(--c-accent2-color); }
.accent3          { color: var(--c-accent3-color); }
.accent4          { color: var(--c-accent4-color); }

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */

.primary    { color: var(--c-primary-color); }
.success    { color: var(--c-success-color); }
.warning    { color: var(--c-warning-color); }
.error      { color: var(--c-error-color); }
.dark       { color: var(--c-dark-color); }
.light      { color: var(--c-light-color); }

.navy       { color: var(--c-navy-color); }
.green      { color: var(--c-green-color); }
.teal       { color: var(--c-teal-color); }
.blue       { color: var(--c-blue-color); }
.purple     { color: var(--c-purple-color); }
.pink       { color: var(--c-pink-color); }
.red        { color: var(--c-red-color); }
.orange     { color: var(--c-orange-color); }
.yellow     { color: var(--c-yellow-color); }
.gray       { color: var(--c-gray-color); }
.light-gray { color: var(--c-light-gray-color); }

/* tachyons.css only has 2/2.25rem 3/1.5rem, so add the middle one */
.f2-5 { font-size: 1.8rem; }

body.impress-enabled,
.reveal-viewport {
  background-color: var(--c-bg-color);
}

#impress,
.reveal {
  --c-slide-font-size: calc(var(--c-slide-font-scale, 0.05) * var(--slide-height, 1080px));

  font-family: var(--c-main-font);
  font-size: var(--c-slide-font-size);
  font-weight: normal;
  color: var(--c-main-color);
  line-height: var(--c-main-line-height);

  @include tachyons_styles();
}

