// common styles, common to impress.js and reveal.js

// // Customed list bullet color
// ul > li::before {
//   content: "\2022";
//   color: var(--c-main-color);
//   font-weight: bold;
//   display: inline-block;
//   width: 1em;
//   margin-left: -1em;
// }
//
// li li::before {
//   content: "\2022";
//   color: var(--c-heading-color);
// }
//
// li {
//     list-style: none;
// }

body {
  background: var(--c-bg-color);
  color: var(--c-main-color);
}

.noaccent         { color: var(--c-main-color); }
.accent, .accent1 { color: var(--c-accent-color); }
.accent2          { color: var(--c-accent2-color); }
.accent3          { color: var(--c-accent3-color); }
.accent4          { color: var(--c-accent4-color); }

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */

.primary    { color: var(--c-primary-color); }
.success    { color: var(--c-success-color); }
.warning    { color: var(--c-warning-color); }
.error      { color: var(--c-error-color); }
.dark       { color: var(--c-dark-color); }
.light      { color: var(--c-light-color); }

.navy       { color: var(--c-navy-color); }
.green      { color: var(--c-green-color); }
.teal       { color: var(--c-teal-color); }
.blue       { color: var(--c-blue-color); }
.purple     { color: var(--c-purple-color); }
.pink       { color: var(--c-pink-color); }
.red        { color: var(--c-red-color); }
.orange     { color: var(--c-orange-color); }
.yellow     { color: var(--c-yellow-color); }
.gray       { color: var(--c-gray-color); }
.light-gray { color: var(--c-light-gray-color); }

/* tachyons.css only has 2/2.25rem 3/1.5rem, so add the middle one */
.f2-5 { font-size: 1.8rem; }

#impress,
.reveal {
  --c-slide-font-size: calc(var(--c-slide-font-scale, 0.05) * var(--slide-height, 1080px));

  font-family: var(--c-main-font);
  font-size: var(--c-slide-font-size);

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;

      ol {
        list-style-type: lower-roman;
      }
    }
  }

  li {
    color: var(--c-list-color);

    li {
      color: var(--c-list-alt-color);
      margin-left: 0.5em;
      li {
        color: var(--c-list-color);
      }
    }
  }

  input {
    font-size: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--c-heading-color);
    text-shadow: -2px 2px 4px var(--c-shadow-color-9);
	margin: var(--c-heading-margin);

	font-family: var(--c-heading-font);
	font-weight: var(--c-heading-font-weight);
	line-height: var(--c-heading-line-height);
	letter-spacing: var(--c-heading-letter-spacing);

	text-transform: var(--c-heading-text-transform);
	text-shadow: var(--c-heading-text-shadow);

    strong, b {
      color: var(--c-accent-color);
      // font-weight: bolder;
    }
  }

  h1 {font-size: var(--c-heading-1-size); }
  h2 {font-size: var(--c-heading-2-size); }
  h3 {font-size: var(--c-heading-3-size); }
  h4 {font-size: var(--c-heading-4-size); }

  h1 {
    text-shadow: var(--c-heading1-text-shadow);
  }

  b, strong {
    font-weight: bold
  }

  strong {
    color: var(--c-accent-color);
  }

  q {
    font-style: italic;
    text-shadow: 0 6px 6px var(--c-border-color-3);
    /* font-family: 'PT Serif'; */
    /* font-weight: 400;     */
  }

  /* 块/段落引用 */
  blockquote {
    color: var(--c-blockquote-color);
    border-left-color: var(--c-blockquote-border-color);

    position: relative;
    font-weight: 400;
    border-left: 1px solid;
    padding-left: 1em;
    margin: var(--c-block-margin) 3em var(--c-block-margin) 2em;
  }

  a {
    // background: rgba(var(--c-a-bg-color),0.2);
    color: var(--c-link-color);
    text-shadow: -2px 2px 4px var(--c-shadow-color-9);
    text-decoration: none;
    padding: 0 0.1em;

    border-radius: 0.2em;
    border-bottom: 3px solid;
    border-left:   3px solid;
    border-bottom-color: var(--c-border-color-2);
    border-left-color:   var(--c-border-color-2);

    transition:         0.5s;

    &:hover, &:focus {
      background: var(--c-a-bg-color);
      text-shadow: -2px 2px 3px var(--c-shadow-color-5);
    }
  }

  /* Inline code, no Highlight.js */
  code, kbd, samp {
    font-family: var(--c-code-font);
  }

  pre {
    margin: var(--c-block-margin) auto;
  }

  // Highlight.js used for coloring pre > code blocks.
  pre > code {
    display: block;
    color: var(--c-main-color);
    background-color: var(--c-code-bg-color);
    padding: 0.5em;
    border: 2px solid var(--c-border-color-3);
  }

  table {
    /* width: 100%; */
    /* max-width: 100%; */
    border: 1px solid;
    border-color: var(--c-border-color);
    border-collapse: collapse;
    /* border-spacing: 0; */
    margin-bottom: 1rem;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;

    tbody + tbody {
      border-top: 2px solid;
      border-top-color: var(--c-border-color);
    }

    table {
      background-color: var(--c-table-bg-color);
    }
  }

  table.borderless,
  table.borderless th,
  table.borderless td,
  table.borderless thead th,
  table.borderless thead td {
    border: none;
  }

  th {
    text-align: inherit;
  }

  th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: var(--c-border-color);
  }

  thead {
    display: table-header-group;

    th {
      vertical-align: bottom;
    }

    th, td {
      border-bottom: 2px solid;
      border-bottom-color: var(--c-border-color);
    }
  }

  .striped table tbody tr:nth-of-type(odd),
  table.striped tbody tr:nth-of-type(odd) {
    background-color: var(--c-border-color-05);
  }

  .vstriped tbody td:nth-of-type(odd),
  .vstriped thead th:nth-of-type(odd){
    background-color: var(--c-border-color-05);
  }

  .hover table tbody tr:hover,
  table.hover tbody tr:hover {
    background-color: var(--c-border-color-075);
  }

  p {
    margin: var(--c-block-margin) 0;
  }

  del, s {
    text-decoration-color: var(--c-heading-color);
  }

  li del, li s {
    text-decoration-color: var(--c-accent-color);
  }

  li li del, li li s {
    text-decoration-color: var(--c-heading-color);
  }

  code {
    line-height: 1;
  }

  img {
    margin: var(--c-block-margin) 0;
  }

  .font-normalsize {
    font-size: 100%;
  }
  .font-smaller,
  .font-smaller1 {
    font-size: 90%;
  }
  .font-smaller2 {
    font-size: 80%;
  }
  .font-smaller3 {
    font-size: 70%;
  }
  .font-smaller4 {
    font-size: 60%;
  }
  .font-smaller5 {
    font-size: 50%;
  }
  .font-larger,
  .font-larger1 {
    font-size: 110%;
  }
  .font-larger2 {
    font-size: 120%;
  }
  .font-larger3 {
    font-size: 130%;
  }
  .font-larger4 {
    font-size: 150%;
  }
  .font-larger5 {
    font-size: 200%;
  }

  /* more text, smaller font size */
  .more-text {
    font-size: 80%;
  }

  .more-text .step {
    font-size: 65%;
  }

  .more-text table {
    font-size: 80%;
  }

  .lh-solid {
    line-height: 1;
  }
  .lh-title {
    line-height: 1.25;
  }
  .lh-copy {
    line-height: 1.5;
  }

  .float-right {
    float: right;
    margin-left:  1rem;
    margin-right:   0rem;
    margin-top:    1rem;
    margin-bottom: 1rem;
  }
  .float-left {
    float: left;
    margin-right: 1rem;
    margin-left:    0rem;
    margin-top:    1rem;
    margin-bottom: 1rem;
  }
  .top {
    position: absolute;
    top: 1rem;
    margin-bottom:  1rem;
    margin-top:      0rem;
  }
  .bottom {
    position: absolute;
    bottom: 1rem;
    margin-bottom:   0rem;
    margin-top:     1rem;
  }
  .right {
    position: absolute;
    right: 0rem;
    margin-left:  1rem;
    margin-right:   0rem;
    margin-top:    1rem;
    margin-bottom: 1rem;
  }
  .left {
    position: absolute;
    left: 0rem;
    margin-right: 1rem;
    margin-left:    0rem;
    margin-top:    1rem;
    margin-bottom: 2rem;
  }

  .visible {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }

  /* mermaid related */
  /* style for main classes in mermaid classDiagram */
  .mermaid {
    .main_class {
      fill: #ffdfdf;
      text-align: center;
    }
  }

  /* SVG styles */
  .override-color path {
    stroke: var(--c-main-color);
  }

  svg[id^="mermaid"][width][height][viewBox] {
    max-width: 90%;
    max-height: 100%;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
  }

  /* if a svg not have any of bg-* class, add a semi-transparent background to it */
  svg:not([class^="bg-"], [class*=" bg-"])
  {
    /* Add a background, so the line and text is visible in both light and dark theme */
    background: rgba(255, 255, 255, 0.5);
  }
}

