@use "sass:color";

// Background of the presentation
$bg-color: #cccccc !default;
$is-dark-bg: (color.lightness($bg-color) < 50) !default;
$debug-color: #F0808020 !default;

$box-bg-color:   color.adjust($bg-color, $lightness: if($is-dark-bg, -10%,  10%)) !default;
$table-bg-color: color.adjust($bg-color, $lightness: if($is-dark-bg, -20%,  20%)) !default;
$code-bg-color:  color.adjust($bg-color, $lightness: if($is-dark-bg, -10%,  10%)) !default;
$box-code-bg-color:  color.adjust($bg-color, $lightness: if($is-dark-bg, -20%,  20%)) !default;
$shadow-color:   color.adjust($bg-color, $lightness: if($is-dark-bg,  20%, -20%)) !default;

// Primary/body text
$main-color: #464646 !default;

// Headings
$heading-color: #4e91e4 !default;
$heading-text-shadow: -2px 2px 4px rgba($shadow-color, 0.9) !default;

$accent-color : #ee675d !default;
$blockquote-color: rgba($main-color, 0.7) !default;
$blockquote-border-color: #1abc9c !default;
$list-color: $main-color !default;
$list-alt-color: $heading-color !default;

$border-color: $heading-color !default;
$a-bg-color: color.mix($heading-color, $bg-color, 50%) !default;
$link-color: $main-color !default;

$primary-color:    #4e91e4 !default;
$success-color:    #4acf7f !default;
$warning-color:    #fbc850 !default;
$error-color:      #ee675d !default;
$dark-color:       #546778 !default;
$light-color:      #dde5ee !default;

$navy-color:       #546778 !default;
$green-color:      #93d260 !default;
$teal-color:       #60d2b6 !default;
$blue-color:       #4e91e4 !default;
$purple-color:     #ac94e8 !default;
$pink-color:       #e77eb8 !default;
$red-color:        #ee675d !default;
$orange-color:     #f78055 !default;
$yellow-color:     #fbc850 !default;
$gray-color:       #dde5ee !default;
$light-gray-color: #eeeeee !default;

// // Customed list bullet color
// ul > li::before {
//   content: "\2022";
//   color: $main-color;
//   font-weight: bold;
//   display: inline-block;
//   width: 1em;
//   margin-left: -1em;
// }
//
// li li::before {
//   content: "\2022";
//   color: $heading-color;
// }
//
// li {
//     list-style: none;
// }

ul {
  list-style-type: disc;

  ul {
    list-style-type: circle;

    ul {
      list-style-type: square;
    }
  }
}

ol {
  list-style-type: decimal;

  ol {
    list-style-type: lower-alpha;

    ol {
      list-style-type: lower-roman;
    }
  }
}

li {
  color: $list-color;

  li {
    color: $list-alt-color;
    margin-left: 0.5em;
    li {
      color: $list-color;
    }
  }
}

#impress .step {
  .substep.substep-visible {
    &.strike-on-substep, .strike-on-substep {
      text-decoration-color: $heading-color;
    }
  }

  li li.substep.substep-visible {
    &.strike-on-substep, .strike-on-substep {
      text-decoration-color: $heading-color;
    }
  }

  li.substep.substep-visible {
    &.strike-on-substep, .strike-on-substep {
      text-decoration-color: $accent-color;
    }
  }
}

body {
  background: $bg-color;
  color: $main-color;
}

blockquote {
  color: $blockquote-color;
  border-left-color: $blockquote-border-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  text-shadow: $heading-text-shadow;

  strong, b {
    color: $accent-color;
    // font-weight: bolder;
  }
}

strong {
  color: $accent-color;
}

#impress {
  table {
    border-color: $border-color;

    tbody + tbody {
      border-top-color: $border-color;
    }

    table {
      background-color: $table-bg-color;
    }
  }

  th, td {
    border-top-color: $border-color;
  }

  thead {
    th, td {
      border-bottom-color: $border-color;
    }
  }

  .striped table tbody tr:nth-of-type(odd),
  table.striped tbody tr:nth-of-type(odd) {
    background-color: rgba($border-color, 0.05);
  }

  .vstriped tbody td:nth-of-type(odd),
  .vstriped thead th:nth-of-type(odd){
    background-color: rgba($border-color, 0.05);
  }

  .hover table tbody tr:hover,
  table.hover tbody tr:hover {
    background-color: rgba($border-color, 0.075);
  }
}

q {
  text-shadow: 0 6px 6px rgba($border-color, .3);
}

.slide {
  del, s {
    text-decoration-color: $heading-color;
  }

  li del, li s {
    text-decoration-color: $accent-color;
  }

  li li del, li li s {
    text-decoration-color: $heading-color;
  }
}

.noaccent         { color: $main-color; }
.accent, .accent1 { color: $accent-color; }
.accent2          { color: $heading-color; }
.accent3          { color: #ac94e8; }
.accent4          { color: #60d2b6; }

/* color codes from siimple css.
 * https://docs.siimple.xyz/getting-started/theming.html
 */

.primary    { color: $primary-color; }
.success    { color: $success-color; }
.warning    { color: $warning-color; }
.error      { color: $error-color; }
.dark       { color: $dark-color; }
.light      { color: $light-color; }

.navy       { color: $navy-color; }
.green      { color: $green-color; }
.teal       { color: $teal-color; }
.blue       { color: $blue-color; }
.purple     { color: $purple-color; }
.pink       { color: $pink-color; }
.red        { color: $red-color; }
.orange     { color: $orange-color; }
.yellow     { color: $yellow-color; }
.gray       { color: $gray-color; }
.light-gray { color: $light-gray-color; }

a {
  // background: rgba($a-bg-color,0.2);
  color: $link-color;
  text-shadow: -2px 2px 4px rgba($shadow-color,0.9);
  border-bottom-color: rgba($border-color,0.2);
  border-left-color:   rgba($border-color,0.2);

  &:hover, &:focus {
    background: rgba($a-bg-color,1);
    text-shadow: -2px 2px 3px rgba($shadow-color,0.5);
  }
}

.box {
  background-color: $box-bg-color;
  border-color: rgba($border-color, .3);
  box-shadow: 0 4px 8px rgba($shadow-color, .1);
}

.slide {
  text-shadow: 0 3px 3px rgba($shadow-color, .2);

  &.flex {
    display: flex;
  }

  pre {
    background: none;
    padding: 0;
    border: none;
  }
}

// Highlight.js used for coloring pre > code blocks.
pre > code {
  display: block;
  text-shadow: 0 0 0 rgba($shadow-color, 0);
  color: $main-color;
  background-color: $code-bg-color;
  padding: 0.5em;
  border: 2px solid rgba($border-color, .3);
}

.box pre > code {
  background-color: $box-code-bg-color;
}

#overview #signature {
  color: #546778;
}

/* style for main classes in mermaid classDiagram */
#impress .mermaid {
  .main_class {
    fill: #ffdfdf;
  }
}

/* SVG styles */
.override-color path {
  stroke: $main-color;
}

/* Debuging background */
#impress.debug .step {
    /* for layout debuggind */
    background-color: $debug-color;
}

