// from default.css
@use 'common' with (
    $bg-color: #F0F0F0,
    $main-color: #444,
    $heading-color: #880000,
    $list-alt-color: #397300,
    $accent-color: #880088,
    $border-color: #888888,
    $link-color: #BC6060,
);
