// from gruvbox-dark.css
@use 'common' with (
    $bg-color: #282828,
    $main-color: #ebdbb2,
    $heading-color: #83a598,
    $list-alt-color: #83a598,
    $accent-color: #fb4934,
    $border-color: #928374,
    $link-color: #fb4934,
);
