@use 'layout' with (
  // Primary/body text
  $main-font: ['Lato', 'sans-serif'],
  $main-font-size: 40px,

  // Vertical spacing between blocks of text
  $block-margin: 20px,

  // Headings
  $heading-font: ['League Gothic', Impact, sans-serif],
  $heading-line-height: 1.2,
  $heading-letter-spacing: normal,
  $heading-text-transform: uppercase,
  $heading-text-shadow: none,
  $heading-font-weight: normal,

  $heading-1-Size: 3.77em,
  $heading-2-Size: 2.11em,
  $heading-3-Size: 1.55em,
  $heading-4-Size: 1.00em,

  $code-font: monospace
);

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin body-background() {
  background: $bg-color;
}
