@use 'layout' with (
  // Primary/body text
  // $main-font: ['Lato', 'sans-serif'],
  // $main-font-size: 3.75em,

  // Vertical spacing between blocks of text
  $block-margin: 1em,

  // Headings
  $heading-font: ['League Gothic', Impact, sans-serif],
  $heading-line-height: 1.2,
  $heading-letter-spacing: normal,
  $heading-text-transform: uppercase,
  $heading-text-shadow: none,
  $heading-font-weight: normal,

  $heading-1-size: var(--main-font-size),
  $heading-2-size: var(--main-font-size),
  $heading-3-size: var(--main-font-size),
  $heading-4-size: var(--main-font-size),

  $code-font: ["Cutive mono","Courier New", monospace]
);

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin body-background() {
  background: $bg-color;
}

#impress .slide {
  .title h1 { margin-top: 200px; }
  .title h2 { margin-top: 200px; }
  .title h1 + h2 { margin-top: 400px; }
  .title h3 { margin-top: 200px; }
  .title h2 + h3 { margin-top: 400px; }
  .title h1 + h2 + h3 { margin-top: 600px; }
}
